__pycache__/
*.py[cod]
*.so
*.db
*.log
.git/
Dockerfile
.dockerignore
README.md
*.md
*.ini
*.pdf
*.docx
*.egg-info
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.mo
*.pot
*.log
.idea
.vscode/
.ipynb_checkpoints/
.DS_Store
*.swp
*.swo
.mypy_cache/
*.ipynb
docs
notebooks
reports
Makefile
test_environment.py
LICENSE
*.png
*.rdb
*.json