pandas==1.4.2
scikit-learn==1.0.2
matplotlib==3.7.2
hyperopt==0.2.7
joblib==1.2.0
prophet==1.1.4
ipywidgets==8.0.4
numpy==1.22
plotly==5.9.0
xgboost==1.7.3
fastapi==0.99.1
pydantic==1.10.12
holidays==0.34
ipykernel==6.25.2
LunarCalendar==0.0.9
toml==0.10.2
tqdm==4.66.1
uvicorn==0.23.2
webencodings==0.5.1
cmdstanpy==1.1.0